<ActionBar title="My App" class="action-bar">
</ActionBar>
 
<StackLayout class="page">

    <ScrollView #scrollview orientation="horizontal" class="scroll-menu-container">
        <StackLayout #hmenu orientation="horizontal" class="scroll-menu">
            
        </StackLayout>
    </ScrollView>
    <ScrollView orientation="horizontal" >
        <StackLayout orientation="horizontal">
           
            <StackLayout width="380" row="0" col="0" backgroundColor="blue">
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
            </StackLayout>

            <StackLayout width="380" row="0" col="0" backgroundColor="yellow">
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
                <StackLayout>
                    <Label text="Item 123"></Label>
                </StackLayout>
            </StackLayout>
       
        </StackLayout>

        
    </ScrollView>
    <!--<Button text="OPEN" (tap)="openSomething()"></Button>-->
    <!--<ListView [items]="items" class="list-group" >
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>-->
</StackLayout>
