<ActionBar title="My App" ios.translucent="false">
</ActionBar>
<GridLayout class="page" rows="auto, *" cols="*">

    <ScrollView col="0" row="0" #scrollview orientation="horizontal" class="scroll-menu-container">
        <StackLayout #hmenu orientation="horizontal" class="scroll-menu"></StackLayout>
    </ScrollView>

    <StackLayout col="0" row="1" backgroundColor="#eaeaea" padding="10">
        <StackLayout *ngFor="let page of items">
            <StackLayout *ngIf="page.id == activePage">
                <label text="{{ page.text }}" class="h2"></label>
                <label text="{{ page.body }}" class="body" textWrap="true"></label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

</GridLayout>